page-home {

  .fab {
    width: 70px;
    height: 70px;
  }

  ion-fab {
    margin-bottom: 10%;
  }

  .opacity-half {
    opacity: 0.5;
  }

  .custom-icon {
    font-size: 45px;
  }

  .eta {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 600;
  }

  .nowrap {
    white-space: nowrap;
  }

  .leaflet-popup-content {
    margin: 0 !important;
  }

}
