
# Packer
deployment/packer/packer_cache/
deployment/packer/tmp
deployment/packer/build

# Terraform
deployment/terraform/.terraform/
deployment/terraform/*.pub
deployment/terraform/*.backup

# Yarn
backend/**/yarn.lock
