<ion-header>

  <ion-navbar>
    <ion-buttons left *ngIf="page === 'main'">
      <button ion-button icon-only color="purple" (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ pageTitleKey | translate }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="content-lbg">

  <form [formGroup]="form" *ngIf="settingsReady">
    <ion-list *ngIf="page === 'main'">
      <ion-item>
        <ion-label>{{ 'LANGUAGE' | translate }}</ion-label>
        <ion-select formControlName="preferLanguage">
          <ion-option value="en">English</ion-option>
          <ion-option value="fa">پارسی</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>{{ 'COUNTRY' | translate }}</ion-label>
        <ion-select formControlName="country">
          <ion-option *ngFor="let _country of countries" [value]="_country.CODE">{{_country.LABEL}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>{{ 'CITY' | translate }}</ion-label>
        <ion-select formControlName="city">
          <ion-option *ngFor="let _city of cities" [value]="_city.CODE">{{_city.LABEL}}</ion-option>
        </ion-select>
      </ion-item>
      <button ion-item [navPush]="subSettings" [navParams]="tehranProfile" *ngIf="options.city === 'THR'">
        {{ 'TEHRAN_SETTINGS_TITLE' | translate}}
      </button>
      <button ion-item [navPush]="subSettings" [navParams]="mapSettings">
        {{ 'MAP_SETTINGS_TITLE' | translate}}
      </button>
<!--  <ion-item>
        <ion-label>{{ 'GO_INVISIBLE' | translate }}</ion-label>
        <ion-toggle formControlName="userGoInvisible"></ion-toggle>
      </ion-item>
-->
    </ion-list>
    <ion-list *ngIf="page === 'tehranSettings'">
      <ion-item text-wrap>
        <ion-label>{{ 'HIGHLIGHT_TEHRAN_MAIN_TRAFFIC_ZONE' | translate }}</ion-label>
        <ion-toggle formControlName="highlightTehranMainTrafficZone"></ion-toggle>
      </ion-item>
      <ion-item text-wrap>
        <ion-label>{{ 'HIGHLIGHT_TEHRAN_EVEN_ODD_TRAFFIC_ZONE' | translate }}</ion-label>
        <ion-toggle formControlName="highlightTehranEvenOddTrafficZone"></ion-toggle>
      </ion-item>
      <ion-item text-wrap>
        <ion-label>{{ 'HAS_TEHRAN_MAIN_TRAFFIC_CERTIFICATE' | translate}}</ion-label>
        <ion-toggle formControlName="hasTehranMainTrafficCertificate"></ion-toggle>
      </ion-item>
      <ion-item *ngIf="options.hasTehranMainTrafficCertificate === false">
        <ion-label>{{ 'CAR_PLATE_NUMBER' | translate }}</ion-label>
        <ion-select formControlName="carPlateNumberEvenOrOdd">
          <ion-option value="even">{{ 'EVEN' | translate }}</ion-option>
          <ion-option value="odd">{{ 'ODD' | translate }}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-list *ngIf="page === 'mapSettings'">
      <ion-item text-wrap>
        <ion-label>{{ 'MAP_SHOW_SPEED_CAMERA' | translate }}</ion-label>
        <ion-toggle formControlName="overpassShowSpeedCamera"></ion-toggle>
      </ion-item>
      <ion-item text-wrap>
        <ion-label>{{ 'MAP_SHOW_FUEL_STATION' | translate }}</ion-label>
        <ion-toggle formControlName="overpassShowFuelStation"></ion-toggle>
      </ion-item>
      <ion-item text-wrap>
        <ion-label>{{ 'MAP_SHOW_TRAFFIC_LIGHT' | translate }}</ion-label>
        <ion-toggle formControlName="overpassShowTrafficLight"></ion-toggle>
      </ion-item>
      <ion-item text-wrap>
        <ion-label>{{ 'USE_CACHE_FOR_MAP_TILES' | translate }}</ion-label>
        <ion-toggle formControlName="useCacheForMapTiles"></ion-toggle>
      </ion-item>
      <ion-item text-wrap>
        <ion-label>{{ 'CENTER_TO_POSITION_FREQUENTLY' | translate }}</ion-label>
        <ion-select formControlName="centerToPositionFrequently">
          <ion-option *ngFor="let number of [1,2,3,4,5,6,7,8,9,10,15,30,60,300,0]"
                      [value]="number">{{number}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item text-wrap>
        <ion-label>{{ 'AUTO_REROUTE' | translate }}</ion-label>
        <ion-toggle formControlName="autoReRoute"></ion-toggle>
      </ion-item>
    </ion-list>
  </form>

</ion-content>
