<div>
    <br>
    <div class="row">
        <div class="col-md-8 offset-md-2" style="text-align: center">
          <h1 jhiTranslate="deeplinks.locationLink">Location link</h1>
          <br>
          <a [href]="deeplink">
              <button class="btn btn-success btn-lg" jhiTranslate="deeplinks.viewLocation">View location</button>
          </a>
        </div>
    </div>
    <br><br><br><br><br>
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <h3 jhiTranslate="deeplinks.appIsNotInstalled">You don't have app installed?</h3>
        </div>
    </div>
    <br>
    <div class="row badges" style="text-align: center">
        <div class="col-md-2 offset-md-4">
            <a class="badge-link" href="https://play.google.com/store/apps/details?id=biz.navio.maps"><img src="../../content/images/google-play-badge.svg" alt=""></a>
        </div>
        <div class="col-md-2">
            <a class="badge-link" href="#dl"><img src="../../content/images/app-store-badge.svg" alt=""></a>
        </div>
    </div>
    <br><br><br>
</div>