<ion-menu [content]="content" id="primary" (ionOpen)="menuOpened()">
  <ng-loading-bar></ng-loading-bar>
  <ion-header>
    <ion-toolbar>
      <ion-buttons left>
        <button ion-button icon-only color="purple" menuClose>
          <ion-icon name="arrow-back"></ion-icon>
        </button>
        <button ion-button icon-only color="purple" (click)="showSettingsModal()" menuClose>
          <ion-icon name="cog"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title text-center *ngIf="!isAuthenticated()">
        <button ion-button color="purple" outline (click)="openProfilePage()" menuClose>
          <ion-icon name="ios-person-outline" style="padding-left: 10px; padding-right: 10px;"></ion-icon>
          {{ 'NOT_REGISTERED' | translate}}
          <ion-icon name="ios-arrow-forward" style="padding-left: 10px; padding-right: 10px;"></ion-icon>
        </button>
      </ion-title>
      <ion-title text-center *ngIf="isAuthenticated()">
        <button ion-button color="purple" clear (click)="openProfilePage()" menuClose>
          <ion-icon name="ios-person" style="padding-left: 10px; padding-right: 10px;"></ion-icon>
          {{ user.login }}
        </button>
      </ion-title>
      <ion-buttons right>
        <button ion-button icon-only color="purple" (click)="exitApp()">
          <ion-icon name="power"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="content-lbg">
    <ion-searchbar [formControl]="geoSearchTerm" placeholder="{{'SEARCH' | translate}}"></ion-searchbar>
    <ion-list>
      <button ion-item *ngFor="let addressDTO of items | async" (click)="geoSelected(addressDTO)" menuClose text-wrap>
        {{addressDTO.name}}
      </button>
    </ion-list>
    <ion-list [hidden]="(items | async)?.length > 0">
      <button ion-item (click)="openFavorites()" menuClose>
        <ion-icon name="bookmark" icon-start></ion-icon>
        {{ 'FAVORITES' | translate }}
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackeEnabled="false"></ion-nav>