// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import "../theme/navicons";

@import "../assets/css/loading-bar";

@font-face {
  font-family: Vazir;
  src: url('../assets/fonts/Vazir.eot');
  src: url('../assets/fonts/Vazir.eot?iefix') format('embedded-opentype'),
       url('../assets/fonts/Vazir.woff') format('woff'),
       url('../assets/fonts/Vazir.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: Vazir;
  src: url('../assets/fonts/Vazir-Bold.eot');
  src: url('../assets/fonts/Vazir-Bold.eot?iefix') format('embedded-opentype'),
       url('../assets/fonts/Vazir-Bold.woff') format('woff'),
       url('../assets/fonts/Vazir-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: Vazir;
  src: url('../assets/fonts/Vazir-Light.eot');
  src: url('../assets/fonts/Vazir-Light.eot?iefix') format('embedded-opentype'),
       url('../assets/fonts/Vazir-Light.woff') format('woff'),
       url('../assets/fonts/Vazir-Light.ttf') format('truetype');
  font-weight: 300;
}

body,
.content-lbg {
  background: lightblue;
}

html[dir='rtl'] {
  * {
    font-family: 'Vazir';
  }
}

html[dir='rtl'] {
  .icon.ion-md-arrow-back,
  .icon.ion-ios-arrow-back,
  .icon.ion-md-arrow-forward,
  .icon.ion-ios-arrow-forward,
  .icon.ion-md-arrow-dropright,
  .icon.ion-ios-arrow-dropright {
    transform: rotate(180deg);
  }
}
/** Leaflet customizations */
@import "../assets/css/leaflet";
@import "../assets/css/leaflet-routing-machine";

// OpenStreetMap attribution text, takes entire header in some small phones,
// let's fix it by set font size to 9px.
.leaflet-control-attribution {
  font-size: 9px !important;
}

.leaflet-control-layers-toggle {
  background-image: url('../assets/img/layers.png');
}

.leaflet-retina .leaflet-control-layers-toggle {
  background-image: url('../assets/img/layers-2x.png');
}

.leaflet-default-icon-path {
  background-image: url('../assets/img/marker-icon.png');
}

.leaflet-routing-container {
  display: none;  // Hides leaflet routing container
}

.leaflet-routing-collapse-btn {
  font-size: 32px;
  color: #000;
}

.leaflet-routing-icon {
  background-image: url('../assets/img/leaflet.routing.icons.png');
}

.leaflet-routing-container-hide .leaflet-routing-collapse-btn {
  background-image: url('../assets/img/routing-icon.png');
}
/** Leaflet customizations ended here */

.force-ltr {
  direction: ltr;
}

// First load spinner
.first-load-container {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 1;
  background-color: green;
}

.first-load-image {
  content: url('../assets/img/splash.png');
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  left: 0;
  top: 0;
}

@keyframes rotate {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}

.first-load-spinner {
  margin: 50px;
  height: 28px;
  width: 28px;
  animation: rotate 0.8s infinite linear;
  border: 8px solid #3366ff;
  border-right-color: transparent;
  border-radius: 50%;
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  font-size: 30px;
  min-height: 40px;
  min-width: 40px;
}
