<div id="page-top">

  <header>
    <div class="container">
      <div class="row">
        <div class="col-sm-7">
          <div class="header-content">
            <div class="header-content-inner">
              <h1 jhiTranslate="home.branding.sentence">Rahpey is an app that will help you to find your way easier, faster and safer</h1>
              <a href="#download" class="btn btn-outline btn-xl page-scroll" jhiTranslate="home.branding.startnow">Start Now for Free!</a>
            </div>
          </div>
        </div>
        <div class="col-sm-5">
          <div class="device-container">
            <div class="device-mockup iphone6_plus portrait white">
              <div class="device">
                <div class="screen">
                  <img src="../../content/images/demo-screen-1.jpg" class="img-fluid" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section id="download" class="download bg-primary text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <h2 class="section-heading" jhiTranslate="home.branding.discover">Discover what all the buzz is about!</h2>
          <p jhiTranslate="home.branding.downloadnow">Our app is available on any mobile device! Download now to get started!</p>
          <div class="badges">
            <a class="badge-link" href="#download"><img src="../../content/images/google-play-badge.svg" alt=""></a>
            <a class="badge-link" href="#download"><img src="../../content/images/app-store-badge.svg" alt=""></a>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
